.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 50rem;
    height: 50rem;
}

body {
    background: linear-gradient(to right, rgb(177, 177, 177), rgb(204, 204, 204));
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
height: 100%;
}

.vh-32 {
    height: 34vh!important;
}

.loginBtn {
    width: 100%;
}